<div class="container table-responsive div-table"> 
    <table class="table">                    
        <caption>Compras Cadastradas</caption>
        <thead ng-show="compras.length > 0">
            <tr>
                <th>Código</th>
                <th>Valor Total</th>
                <th>Pessoa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="compra in compras | filter:criterioDeBusca">
                <td>{{compra.id}}</td>
                <td>{{compra.valorTotal | currency}}</td>
                <td>Nome: {{compra.pessoa.nome}}, Código: {{compra.pessoa.id}}</td>
                <td nowrap>
                    <button class="btn btn-warning but"  ng-click="edit(compra)">Edit</button>
                    <button class="btn btn-danger but" ng-click="deletarCompra(compra)">Del</button>
                </td>
            </tr>
        </tbody>
    </table>

    <form name="compraForm" ng-if="compra">

        <hr />

        <label for="pessoa" class="style-label">Pessoa<span>*</span></label>
        <input class="form-control" type="text" ng-model="compra.pessoa.nome" id="pessoa" name="pessoa" ng-required="true" ng-minLength="2" disabled />

        <label for="valorTotal" class="style-label">Valor Total<span>*</span></label>
        <input class="form-control" type="number" ng-model="compra.valorTotal" id="valorTotal" name="valorTotal" ng-required="true" ng-minLength="2" />

        <div ng-show="compraForm.valorTotal.$error.required && compraForm.valorTotal.$dirty" class="alert alert-danger">
            Por favor, informe o valor total.
        </div>

        <div ng-show="compraForm.pessoa.$error.required && compraForm.pessoa.$dirty" class="alert alert-danger">
            Por favor, selecione a pessoa.
        </div>
        
        <button class="btn btn-success" ng-click="editarCompra(compra)" ng-disabled="compraForm.$invalid">Atualizar</button>
    </form>

    <hr />

    <a href="#!/novaCompra" ng-hide="endereco" class="btn btn-primary">Nova Compra</a>
</div>