html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main p {
    font-size: xx-large;
    font-weight: bold;
    color: #1b2845;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

/* Navbar */
.nav-link { 
    color: #ffffff;
}

.bg-custom {
    background-color: #1b2845;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1b2845;
    color: #FFFFFF;
    margin-top: auto;
}

/* Tabela Bairro */

.div-table {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    width: 700px;
    text-align: center;
    margin-left: auto; /* centraliza */
    margin-right: auto; /* centraliza */
    margin-top: 20px;
}

table {
    empty-cells: hide;
    caption-side: top;
    text-align: center;
}

table * {
    border: 1px solid #000;
}

#tituloDaTabela { 
    color: #000;
    border: 0px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    color: #1b2845;
}

thead {
    background-color: #1b2845;
}

th {
    color: #ffffff;
}

tbody {
    background-color: #ddd;
}
    
tbody tr:hover {
    background-color: #fff;
}

.but {
    font-size: 12px;
}

/* Form */
.form-control {
    margin-bottom: 5px;
}

span {
    color: rgb(240, 0, 0);
}

.div-form {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    width: 400px;
    margin-left: auto; /* centraliza */
    margin-right: auto; /* centraliza */
    margin-top: 60px;
    text-align: center;
}

.style-label {
    text-align: left;
    display: block;
    margin-top: 18px;
    font-weight: bold;
    border: 0px;
    font-size: 19px;
    color: #1b2845;
}

/*

TESTE NO GIT
*/