<div class="container table-responsive-md div-table"> 
    <table class="table">                    
        <caption>Pessoas Cadastradas</caption>
        <thead ng-show="pessoas.length > 0">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Nascimento</th>
                <th>Sexo</th>
                <th>PCD</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>CPF</th>
                <th>Tipo</th>
                <th>Endereço</th>
                <th>Profissão</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pessoa in pessoas | filter:criterioDeBusca">
                <td>{{pessoa.id}}</td>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.dataDeNascimento}}</td>
                <td>{{pessoa.sexo}}</td>
                <td>{{pessoa.pcd}}</td>
                <td>{{pessoa.altura}}</td>
                <td>{{pessoa.peso}}</td>
                <td>{{pessoa.cpf}}</td>
                <td>{{pessoa.tipo}}</td>
                <td>{{pessoa.endereco.rua}}, {{pessoa.endereco.numero}},       
                    {{pessoa.endereco.complemento}}, {{pessoa.endereco.bairro.nome}}  
                </td>
                <td>{{pessoa.profissao.nome}}</td>
                <td nowrap>
                    <button class="btn btn-warning but"  ng-click="edit(pessoa)">Edit</button>
                    <button class="btn btn-danger but" ng-click="deletarPessoa(pessoa)">Del</button>
                </td>
            </tr>
        </tbody>
    </table>

    <form name="pessoaForm" ng-if="pessoa">

        <hr />
        
        <label for="nomeDaPessoa" class="style-label">Pessoa<span>*</span></label>
        <input class="form-control" type="text" ng-model="pessoa.nome" id="nomeDaPessoa" name="nomeDaPessoa" placeholder="Nome da Pessoa" ng-required="true" ng-minLength="5" />

        <label for="dataDeNascimento" class="style-label">Data de Nascimento<span>*</span></label>
        <input class="form-control" type="text" ng-model="pessoa.dataDeNascimento" id="dataDeNascimento" name="dataDeNascimento" placeholder="DD/MM/AAAA" ng-required="true" ng-minLength="8" />

        <label for="sexo" class="style-label">Sexo<span>*</span></label>
        <select class="form-control" type="text" ng-model="pessoa.sexo" id="sexo" name="sexo" ng-required="true">
            <option value="">Selecione um Sexo</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outros">Outros</option>
        </select>

        <label for="pcd" class="style-label">É portador de necessidades especiais?<span>*</span></label>
        <div class="form-group form-check"> 
            <input class="form-check-input" type="radio" id="pcd" name="pcd" ng-model="pessoa.pcd" value="Sim" ng-required="true" />
            <label class="form-check-label" for="pcd">Sim</label>
        </div>
        <div class="form-group form-check">
            <input class="form-check-input" type="radio" id="pcd" name="pcd" ng-model="pessoa.pcd" value="Não" ng-required="true" />
            <label class="form-check-label" for="pcd">Não</label>
        </div>

        <label for="altura" class="style-label">Altura<span>*</span></label>
        <input class="form-control" type="text" ng-model="pessoa.altura" id="altura" name="altura" placeholder="Altura da Pessoa" ng-required="true" ng-minLength="3" />

        <label for="peso" class="style-label">Peso<span>*</span></label>
        <input class="form-control" type="text" ng-model="pessoa.peso" id="peso" name="peso" placeholder="Peso da Pessoa" ng-required="true" ng-minLength="3" />

        <label for="cpf" class="style-label">CPF<span>*</span></label>
        <input class="form-control" type="text" ng-model="pessoa.cpf" id="cpf" name="cpf" placeholder="XXX.XXX.XXX-XX" ng-required="true" ng-minLength="11" />

        <label for="tipo" class="style-label">Tipo de Pessoa<span>*</span></label>
        <select class="form-control" type="text" ng-model="pessoa.tipo" id="tipo" name="tipo" ng-required="true">
            <option value="">Selecione o Tipo</option>
            <option value="Física">Física</option>
            <option value="Jurídica">Jurídica</option>
            <option value="Especial">Especial</option>
            <option value="Outros">Outros</option>
        </select>

        <label for="endereco" class="style-label">Endereço<span>*</span></label>
        <select class="form-control" name="endereco" ng-required="true" ng-model="pessoa.endereco" ng-options=" ' ( ' + 'ID: ' + (endereco.id) + ' )' + ' Rua: ' + endereco.rua + ' CEP: ' + endereco.cep for endereco in enderecos">
            <option value="">Selecione um Endereço</option>
        </select>

        <label for="nomeDaProfissao" class="style-label">Profissão<span>*</span></label>
        <select class="form-control" name="nomeDaProfissao" id="nomeDaProfissao" ng-required="true" ng-model="pessoa.profissao" ng-options="profissao.nome + ' ( ' + 'ID: ' + (profissao.id) + ' )' for profissao in profissoes">
            <option value="">Selecione uma Profissão</option>
        </select>

        <div ng-show="pessoaForm.nomeDaPessoa.$error.required && pessoaForm.nomeDaPessoa.$dirty" class="alert alert-danger">
            Por favor, preencha o nome da pessoa.
        </div>

        <div ng-show="pessoaForm.dataDeNascimento.$error.required && pessoaForm.dataDeNascimento.$dirty" class="alert alert-danger">
            Por favor, preencha a data de nascimento.
        </div>

        <div ng-show="pessoaForm.sexo.$error.required && pessoaForm.sexo.$dirty" class="alert alert-danger">
            Por favor, preencha o sexo.
        </div>

        <div ng-show="pessoaForm.pcd.$error.required && pessoaForm.pcd.$dirty" class="alert alert-danger">
            Por favor, informe se é uma pessoa com deficiencia.
        </div>

        <div ng-show="pessoaForm.altura.$error.required && pessoaForm.altura.$dirty" class="alert alert-danger">
            Por favor, preencha a altura.
        </div>

        <div ng-show="pessoaForm.peso.$error.required && pessoaForm.peso.$dirty" class="alert alert-danger">
            Por favor, preencha o peso.
        </div>

        <div ng-show="pessoaForm.cpf.$error.required && pessoaForm.cpf.$dirty" class="alert alert-danger">
            Por favor, preencha o CPF.
        </div>

        <div ng-show="pessoaForm.tipo.$error.required && pessoaForm.tipo.$dirty" class="alert alert-danger">
            Por favor, preencha o tipo de pessoa.
        </div>

        <div ng-show="pessoaForm.endereco.$error.required && pessoaForm.endereco.$dirty" class="alert alert-danger">
            Por favor, preencha o endereco.
        </div>

        <div ng-show="pessoaForm.nomeDaProfissao.$error.required && pessoaForm.nomeDaProfissao.$dirty" class="alert alert-danger">
            Por favor, preencha o nome da profissão.
        </div>

        <button class="btn btn-success" ng-click="editarPessoa(pessoa)" ng-disabled="pessoaForm.$invalid">Atualizar</button>
    </form>

    <hr />

    <a href="#!/novaPessoa" ng-hide="pessoa" class="btn btn-primary">Nova Pessoa</a>
</div>