<div class="div-form">
    <form name="bairroForm">
        <label for="nomeDoBairro" class="style-label">Nome do Bairro<span>*</span></label>
        <input class="form-control" type="text" ng-model="bairro.nome" placeholder="Nome do Bairro"  id="nomeDoBairro" name="nomeDoBairro" ng-required="true" ng-minLength="10" />
        <label for="valorDoIptu" class="style-label">Valor do IPTU<span>*</span></label>
        <input class="form-control" type="number" ng-model="bairro.iptu" placeholder="IPTU" id="valorDoIptu" name="valorDoIptu" ng-required="true" ng-minLength="2">
    </form>


    <hr />

    <div ng-show="bairroForm.nomeDoBairro.$error.required && bairroForm.nomeDoBairro.$dirty" class="alert alert-danger">
        Por favor, preencha o nome do bairro.
    </div>

    <div ng-show="bairroForm.valorDoIptu.$error.required && bairroForm.valorDoIptu.$dirty" class="alert alert-danger">
        Por favor, informe o valor do IPTU.
    </div>

    <button class="btn btn-success" ng-click="adicionarBairro(bairro)" ng-disabled="bairroForm.$invalid" >Adicionar Bairro</button>
</div>